body {
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #8d3030; /* rose foncé */
    color: rgb(226, 213, 213);
    text-align: center;
    padding: 20px;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.photo-profil {
    width: 180px;
    height: 180px;
    border-radius: 120px;
    border: 2px solid rgb(151, 57, 57);
}

h1 {
    font-size: 2.5em;
}

main {
    display: flex;
    padding: 20px;
    width: 100%;
    height: 100px;
}

.gauche, .droite {
    width: 100%;
}

footer {
    background-color: #6277bc; /* rose foncé */
    color: white;
    text-align: center;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 110px;
}